Cookie order in header does not follow RFC6265

[RFC6265 § 5.4](https://datatracker.ietf.org/doc/html/rfc6265#section-5.4) states:

> 2.  The user agent SHOULD sort the cookie-list in the following order:
> *  Cookies with longer paths are listed before cookies with shorter paths.
> *  Among cookies that have equal-length path fields, cookies with earlier creation-times are listed before cookies with later creation-times.

However, Cro::HTTP::Client::CookieJar does not do this:

``` raku
#!/usr/bin/env raku

my @cookies = ( 
    'a=1; Domain=example.com; Path=/bar',
    'c=1; Domain=example.com; Path=/',
    'b=2; Domain=sub.example.com; Path=/bar',
    'd=2; Domain=sub.example.com; Path=/',
);

use Cro::HTTP::Client;
given Cro::HTTP::Client::CookieJar.new -> $jar {
    my $uri = Cro::Uri.parse: 'http://sub.example.com/bar';

    my $res = Cro::HTTP::Response.new: :200status;
    $res.append-header: "Set-Cookie: $_" for @cookies;
    $jar.add-from-response: $res, $uri;

    my $req = Cro::HTTP::Request.new;
    $jar.add-to-request: $req, $uri;

    say "{ .name }: { .value }" for $req.headers;
}
# OUTPUT:
# Cookie: d=2; b=2; c=1; a=1
```

Note that the order seems to be reverse chronological, rather than the one stated by the spec.

Note also that the cookie jar code [_does_ appear to be trying to sort according to the spec](https://github.com/croservices/cro-http/blob/3cb30b32f0fda7afa7d8c91da102a48fb3234dee/lib/Cro/HTTP/Client/CookieJar.pm6#L138-L139):
```raku
@cookie-list.sort({ .cookie.path.comb.elems, .creation-time });
@cookie-list.map({ $req.add-cookie($_.cookie) });
```
but this has a couple of problems.

1. It sorts by path length ascendingly (so longer paths appear later, which is against the spec).

2. The sort order gets lost anyway, since the sorted list is never used or assigned to anything (so the cookies remain in the order they were added).

3. This order is later reversed because [`$req.add-cookie` does](https://github.com/croservices/cro-http/blob/3cb30b32f0fda7afa7d8c91da102a48fb3234dee/lib/Cro/HTTP/Request.pm6#L207-L209)
    ```raku
    my @cookies = self!unpack-cookie;
    my @all-other = @cookies.grep({ not $_.name eq $c.name });
    self!pack-cookie($c, |@all-other);
    ```
    which (for _each_ cookie that gets added) (!)
    1. Parses the request's `Cookie` header into Cro::HTTP::Cookie objects (with `!unpack`)
    2. Makes a list with the new cookie _first_ and then all the other ones
    3. Serialises this list into a new `Cookie` header string

A change like the following addresses these issues:
```diff
diff --git a/lib/Cro/HTTP/Client/CookieJar.pm6 b/lib/Cro/HTTP/Client/CookieJar.pm6
index e3e9450..68c37e6 100644
--- a/lib/Cro/HTTP/Client/CookieJar.pm6
+++ b/lib/Cro/HTTP/Client/CookieJar.pm6
@@ -135,8 +135,10 @@ monitor Cro::HTTP::Client::CookieJar {
             };
         });
         # Sorting
-        @cookie-list.sort({ .cookie.path.comb.elems, .creation-time });
-        @cookie-list.map({ $req.add-cookie($_.cookie) });
+        @cookie-list.sort({
+               $^b.cookie.path.chars <=> $^a.cookie.path.chars
+            || $^a.creation-time     <=> $^b.creation-time
+        }).map({ $req.add-cookie($_.cookie) });
     };
 
     #| Get the contents of the cookie jar
diff --git a/lib/Cro/HTTP/Request.pm6 b/lib/Cro/HTTP/Request.pm6
index eb5e721..e8f859e 100644
--- a/lib/Cro/HTTP/Request.pm6
+++ b/lib/Cro/HTTP/Request.pm6
@@ -206,7 +206,7 @@ class Cro::HTTP::Request does Cro::HTTP::Message {
     multi method add-cookie(Cro::HTTP::Cookie $c --> Bool) {
         my @cookies = self!unpack-cookie;
         my @all-other = @cookies.grep({ not $_.name eq $c.name });
-        self!pack-cookie($c, |@all-other);
+        self!pack-cookie(|@all-other, $c);
         @cookies.elems !== @all-other.elems
     }
```

That said, [RFC6265 § 4.2.2](https://datatracker.ietf.org/doc/html/rfc6265#section-4.2.2) also says:
> Although cookies are serialized linearly in the Cookie header, servers SHOULD NOT rely upon the serialization order.  In particular, if the Cookie header contains two cookies with the same name (e.g., that were set with different Path or Domain attributes), servers SHOULD NOT rely upon the order in which these cookies appear in the header.

so this might be a little academic.